<div class="menu">
	<p>Particle Type</p>
    <ul id="particleThemeSelection" class="selection-list selection-list-small js-particle-selection-list">
        {# <li id="fire" class="js-selection-particle js-select-fire">Fire</li>
        <li id="flame" class="js-selection-particle js-select-flame">Flame</li>
        <li id="stars" class="js-selection-particle js-select-stars is-selected">Stars</li>
        <li id="smoke" class="js-selection-particle js-select-smoke">Smoke</li> #}
    </ul>
	<p>Emitter Type</p>
    <ul id="emitterThemeSelection" class="selection-list selection-list-small js-emitter-selection-list">
        {# <li id="singleburst" class="js-selection-emitter js-select-singleburst">Single Burst</li>
        <li id="warpstream" class="js-selection-emitter js-select-warpstream is-selected">Warped Stream</li>
        <li id="flamestream" class="js-selection-emitter js-select-flamestream">Flame Steam</li> #}
    </ul>
    <p>Emission Point</p>
    <ul id="emissionPointSelection" class="selection-list js-emission-point-list">
        {# <li id="mouseLocation" class="js-selection-emission-point js-select-mouse">Mouse Location</li>
        <li id="canvasCentre" class="js-selection-emission-point js-select-centre is-selected">Canvas Centre</li> #}
    </ul>
    <p>Emission Type</p>
    <ul id="emissionTypeSelection" class="selection-list js-emission-type-list">
        {# <li id="mouseClick" class="js-selection-emission-type js-select-mouse">Mouse Click</li>
        <li id="steadyStream" class="js-selection-emission-type js-select-continuous is-selected">Continuous</li>
        <li id="randomBurst" class="js-selection-emission-type js-select-continuous">Random</li> #}
    </ul>
    <p>Animation</p>
    <div class="btn-box">
        <button id="animstart" class="js-anim-control js-anim-start">Start</button>
        <button id="animstop" class="js-anim-control js-anim-stop">Stop</button>
    </div>
</div>