@use 'sass:math';
@use '_variables' as v;
@use '_utils' as u;

.control--panel {
	position: absolute;
	max-width: 30rem;
	height: 100vh;
	width: 30%;
	top: 0;
	right: 0;
	padding-top: v.$large-spacing * 1.5;
	overflow: hidden;
	z-index: v.$z-50;
	background-color: v.$cp-bg-color;
	color: v.$hex-white;
	transition: all 2s ease-out;

	&:before {
		content: ' ';
		position: absolute;
		@include u.full-width-height();
		left: 0;
		top: 0;
		opacity: 0.4;
		pointer-events: none;
		@include u.blue-glow-radial-gradient();
	}

	.info--row p {
		font-size: 0.9rem;
	}

	.info--row__error {
		margin-top: 0;
	}

	.info--row__message {
		margin-top: 0;
	}

	&.is-active {
		opacity: 1;
		transition: all 0s ease;
	}

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.listitem {
	flex-grow: 3;
}