@use '_variables' as v;
@use '_utils' as u;

.control--panel__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: v.$large-spacing * 2;
    display: flex;
    justify-content: center;

    &:before {
        content: ' ';
        position: absolute;
        width: v.$lip-shade-width;
        height: v.$lip-shade-height;
        left: v.$lip-shade-x;
        bottom: 0;
        opacity: 1;
        border-radius: 0 0 50% 50%;
        @include u.lip-shade-gradient();
        transition: opacity 0.5s ease;
    }

    &:after {
        content: ' ';
        position: absolute;
        width: v.$lip-glint-width;
        height: v.$lip-glint-height;
        left: v.$lip-glint-x;
        bottom: -3px;
        opacity: 0.2;
        border-radius: 0 0 50% 50%;
        @include u.lip-glint-gradient();
        transition: opacity 0.5s ease;
    }

    button {
        width: 50%;
        padding: 0;
        margin: 0;
        // background-color: darken( v.$blue-medium, 50% );
        background-color: transparent;
        border: none;
        color: v.$blue-medium;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        outline: none;
        &.is-active {
            cursor: default;
            color: v.$theme-orange;
            background-color: transparent;
            // background-color: darken( v.$blue-medium, 40% );
        }
    }
}